<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .height_change{
      height: 100vh;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand h1" >
      <p style="display: inline;" th:text="${logged.getUsername()}"></p>
      <p style="display: inline;">with roles: </p>
      <p style="display: inline;" th:each="role : ${logged.getRoles()}" th:text="*{role.getRole()}"></p>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="javascript: document.logoutForm.submit()" role="menuitem" class="nav-link">Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex align-items-start height_change">
  <div class="nav col-2 height_change flex-column nav-pills" id="v-pills-tab11"
       role="tablist" aria-orientation="vertical">
    <button class="nav-link active text-start" style="margin-top: 15px;" id="v-pills-home-tab11" data-bs-toggle="pill"
            data-bs-target="#v-pills-home11" type="button" role="tab" aria-controls="v-pills-home11"
            aria-selected="true">Admin</button>
    <button class="nav-link text-start" id="v-pills-profile-tab11" data-bs-toggle="pill"
            data-bs-target="#v-pills-profile11" type="button" role="tab" aria-controls="v-pills-profile11"
            aria-selected="false">User</button>
  </div>
  <div class="tab-content col-10" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home11" role="tabpanel" aria-labelledby="v-pills-home-tab11">
      <div class="bg-light height_change">
        <h1 style="padding-top: 15px; padding-left: 15px;">Admin panel</h1>
        <ul class="nav nav-tabs" style="margin-right: 15px; margin-left: 15px;" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#admin_table"
                    type="button" role="tab" aria-controls="admin_table" aria-selected="true">Users table</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="newuser-tab" data-bs-toggle="tab" data-bs-target="#new_user"
                    type="button" role="tab" aria-controls="new_user" aria-selected="false">New User</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="admin_table" role="tabpanel" aria-labelledby="table-tab">
            <div class="card" style="margin-right: 15px; margin-left: 15px;">
              <div class="card-header"><strong>All users</strong></div>
              <div class="card-body">
                <table class="table table-striped" id="mainTableWithUsers">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Age</th>
                    <th scope="col">Name</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                  </thead>
                  <tbody id="all_users_content">
                <!-- <tr th:each="msg : ${list}">
                    <td th:text="${msg.getId()}"></td>
                    <td th:text="${msg.getUsername()}"></td>
                    <td th:text="${msg.getAge()}"></td>
                    <td th:text="${msg.getWeight()}"></td>
                    <td>
                      <p style="display: inline;" th:each="rol : ${msg.getRoles()}" th:text="*{rol.getRole()}"></p>
                    </td>
                    <td>
                      <button type="button" class="btn btn-info" data-bs-toggle="modal"
                              th:attr="data-bs-target=${'#edit'+msg.id}">Edit
                      </button>
                      <div th:attr="id=${'edit' + msg.id}" class="modal fade" tabindex="-1"
                           aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Edit User</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container" style="text-align:center; width: 75%; padding: 10px;">
                                <form th:id="${'edituser' + msg.id}" th:method="PATCH"
                                      th:action="@{/admin/{id}(id=${msg.getId()})}" th:object="${msg}">
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="id2" class="form-label ">ID</label>
                                      <input disabled type="text" th:value="${msg.getId()}" class="form-control"
                                             id="id2" th:name="id">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="name2" class="form-label ">Name</label>
                                      <input type="text" th:value="${msg.getName()}" class="form-control"
                                             id="name2" th:name="name">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="password2" class="form-label">Password</label>
                                      <input type="password" th:value="${msg.getPassword()}" class="form-control"
                                             id="password2" th:name="password">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="age2" class="form-label">Age</label>
                                      <input type="text" th:value="${msg.getAge()}" class="form-control"
                                             id="age2" th:name="age">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="weight2" class="form-label">Weight</label>
                                      <input type="text" th:value="${msg.getWeight()}" class="form-control"
                                             id="weight2" th:name="weight">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label>Roles
                                      <select multiple th:size="${allRoles.size()}" name="roles"
                                              class="form-control" id="exampleFormControlSelect1">
                                        <option th:each="role : ${allRoles}"
                                                th:value="${role.getId()}"
                                                th:text="${role.getRole()}"></option>
                                      </select>
                                      <br/>
                                    </label>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button th:form="${'edituser' + msg.id}" type="submit" class="btn btn-primary">
                                Edit</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger"
                              data-bs-toggle="modal"
                              th:attr="data-bs-target=${'#delete'+msg.id}">Delete</button>
                      <div th:attr="id=${'delete' + msg.id}" class="modal fade" tabindex="-1"
                           aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel1">Delete User</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container" style="text-align:center; width: 75%; padding: 10px;">
                                <form th:id="${'deleteuser' + msg.id}" th:method="DELETE"
                                      th:action="@{/admin/{id}(id=${msg.getId()})}" th:object="${msg}">
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="id3" class="form-label ">ID</label>
                                      <input disabled type="text" th:value="${msg.getId()}" class="form-control"
                                             id="id3" th:name="id">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="name3" class="form-label ">Name</label>
                                      <input disabled type="text" th:value="${msg.getName()}" class="form-control"
                                             id="name3" th:name="name">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="password3" class="form-label">Password</label>
                                      <input disabled type="password" th:value="${msg.getPassword()}"
                                             class="form-control" id="password3" th:name="password">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="age3" class="form-label">Age</label>
                                      <input disabled type="text" th:value="${msg.getAge()}" class="form-control"
                                             id="age3" th:name="age">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="mb-3">
                                      <label for="weight3" class="form-label">Weight</label>
                                      <input disabled type="text" th:value="${msg.getWeight()}" class="form-control"
                                             id="weight3" th:name="weight">
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button th:form="${'deleteuser' + msg.id}" type="submit" class="btn btn-danger">
                                Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="newuser-tab">
            <div class="card" style="margin-right: 15px; margin-left: 15px;">
              <div class="card-header"><strong>Add New User</strong></div>
              <div class="card-body">
                <div class="container" style="text-align:center; width: 30%; padding: 10px;">
                  <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                    <div class="mb-3">
                      <label for="name" class="form-label ">Name</label>
                      <input type="text" th:field="*{name}" class="form-control col-3" id="name">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" th:field="*{password}" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                      <label for="age" class="form-label">Age</label>
                      <input type="text" th:field="*{age}" class="form-control" id="age">
                    </div>
                    <div class="mb-3">
                      <label for="weight" class="form-label">Weight</label>
                      <input type="text" th:field="*{weight}" class="form-control" id="weight">
                    </div>
                    <div class="mb-3">
                      <label>Roles
                        <select th:class="form-control" multiple th:size="${allRoles.size()}"
                                name="roles" class="form-control"
                                id="FormControlSelect">
                          <option th:each="role : ${allRoles}" th:value="${role.getId()}"
                                  th:text="${role.getRole()}"></option>
                        </select>
                      </label>
                    </div>

                    <button type="submit" class="btn btn-success">Add New User</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="v-pills-profile11" role="tabpanel" aria-labelledby="v-pills-profile-tab11">
      <div class="bg-light height_change">
        <h1 style="padding-top: 15px; padding-left: 15px;">User information-page</h1>
        <div class="card" style="margin-right: 15px; margin-left: 15px;">
          <div class="card-header"><strong>About user</strong></div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Age</th>
                <th scope="col">Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Role</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td th:text="${logged.getId()}"></td>
                <td th:text="${logged.getUsername()}"></td>
                <td th:text="${logged.getAge()}"></td>
                <td th:text="${logged.getWeight()}"></td>
                <td>
                  <p style="display: inline;" th:each="role : ${logged.getRoles()}" th:text="*{role.getRole()}"></p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>

<script src="index.js"></script>

</body>
</html>