<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .height_change{
      height: 100vh;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand h1" >
      <p style="display: inline;" th:text="${logged.getUsername()}"></p>
      <p style="display: inline;">with roles: </p>
      <p style="display: inline;" th:each="role : ${logged.getRoles()}" th:text="*{role.getRole().replaceAll('ROLE_','')}"></p>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="javascript: document.logoutForm.submit()" role="menuitem" class="nav-link">Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex align-items-start height_change">
  <div class="nav col-2 height_change flex-column nav-pills" id="v-pills-tab11"
       role="tablist" aria-orientation="vertical">
    <button class="nav-link active text-start" style="margin-top: 15px;" id="v-pills-home-tab11" data-bs-toggle="pill"
            data-bs-target="#v-pills-home11" type="button" role="tab" aria-controls="v-pills-home11"
            aria-selected="true">Admin</button>
    <button class="nav-link text-start" id="v-pills-profile-tab11" data-bs-toggle="pill"
            data-bs-target="#v-pills-profile11" type="button" role="tab" aria-controls="v-pills-profile11"
            aria-selected="false">User</button>
  </div>
  <div class="tab-content col-10" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home11" role="tabpanel" aria-labelledby="v-pills-home-tab11">
      <div class="bg-light height_change">
        <h1 style="padding-top: 15px; padding-left: 15px;">Admin panel</h1>
        <ul class="nav nav-tabs" style="margin-right: 15px; margin-left: 15px;" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#admin_table"
                    type="button" role="tab" aria-controls="admin_table" aria-selected="true">Users table</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="newuser-tab" data-bs-toggle="tab" data-bs-target="#new_user"
                    type="button" role="tab" aria-controls="new_user" aria-selected="false">New User</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="admin_table" role="tabpanel" aria-labelledby="table-tab">
            <div class="card" style="margin-right: 15px; margin-left: 15px;">
              <div class="card-header"><strong>All users</strong></div>
              <div class="card-body">
                <table class="table table-striped" id="mainTableWithUsers">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Age</th>
                    <th scope="col">Name</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                  </thead>
                  <tbody id="all_users_content">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="newuser-tab">
            <div class="card" style="margin-right: 15px; margin-left: 15px;">
              <div class="card-header"><strong>Add New User</strong></div>
              <div class="card-body">
                <div class="container-fluid">
                  <div class="d-flex justify-content-center">

                    <div class="container" style="text-align:center; width: 30%; padding: 10px;">
                      <form id="defaultSomeForm" data-hidden=true style="display: none">
                        <div class="mb-3">
                          <input class="form-control" id="AddNewUserName" type="text" placeholder="name"><br>
                        </div>
                        <div class="mb-3">
                          <input class="form-control" id="AddNewUserPassword" type="password" placeholder="password"><br>
                        </div>
                        <div class="mb-3">
                          <input class="form-control" id="AddNewUserAge" type="number" placeholder="age"><br>
                        </div>
                        <div class="mb-3">
                          <input class="form-control" id="AddNewUserWeight" type="text" placeholder="weight"><br>
                        </div>
                        <div class="mb-3">
                          <label style="text-align:center;">Roles
                            <select multiple th:size="${allRoles.size()}" name="roles"
                                    class="form-control" id="AddNewUserRole" style="text-align:center;">
                              <option th:each="role : ${allRoles}"
                                      th:value="${role.getId()}"
                                      th:text="${role.getRole()}"></option>
                            </select>
                            <br/>
                          </label>
                        </div>

                        <button class="btn btn-success mb-2" type="button" id="AddNewUserButton">Add new user</button>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="v-pills-profile11" role="tabpanel" aria-labelledby="v-pills-profile-tab11">
      <div class="bg-light height_change">
        <h1 style="padding-top: 15px; padding-left: 15px;">User information-page</h1>
        <div class="card" style="margin-right: 15px; margin-left: 15px;">
          <div class="card-header"><strong>About user</strong></div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Age</th>
                <th scope="col">Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Role</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td th:text="${logged.getId()}"></td>
                <td th:text="${logged.getUsername()}"></td>
                <td th:text="${logged.getAge()}"></td>
                <td th:text="${logged.getWeight()}"></td>
                <td>
                  <p style="display: inline;" th:each="role : ${logged.getRoles()}" th:text="*{role.getRole()}"></p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>

<script src="index.js"></script>

</body>
</html>